<h3>Create Movie</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="f.form.valid &&onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="movie.title" name="title" #title="ngModel">
        <div *ngIf="f.submitted && title.invalid">
          <div *ngIf="title.errors.required">Title is required</div>
        </div>
      </div>


      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" required [(ngModel)]="movie.country" name="country" #country="ngModel">
        <div *ngIf="f.submitted && country.invalid">
          <div *ngIf="country.errors.required">Country is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="length">Length</label>
        <input type="text" class="form-control" id="length" required [(ngModel)]="movie.length" name="length" #length="ngModel">
        <div *ngIf="f.submitted && length.invalid">
          <div *ngIf="length.errors.required">Length is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="movie.description" name="description" #description="ngModel">
        <div *ngIf="f.submitted && description.invalid">
          <div *ngIf="description.errors.required">Description is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="movie.price" name="price" #price="ngModel">
        <div *ngIf="f.submitted && price.invalid">
          <div *ngIf="price.errors.required">Price is required</div>
        </div>
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" [routerLink]="'/admin'">Go to list</button>
</div>
