<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Movies</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Country</th>
          <th>Length</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies ">
          <td>{{movie.id}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.country}}</td>
          <td>{{movie.length}}</td>
          <td>{{movie.description}}</td>
          <td>{{movie.price}}</td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <button class="page-link" (click)="loadData(selectedPage-1)" [disabled]="selectedPage === 1">Previous</button>
        </li>
        <li *ngFor="let p of pageCount"  class="page-item {{selectedPage === p ? 'active' : ''}}">
          <button class="page-link" (click)="loadData(p)">{{p}}</button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="loadData(selectedPage+1)" [disabled]="selectedPage === pageCount.length">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

