<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Movies</h1>
  </div>
  <div class="panel-body" *ngIf="movies">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Country</th>
        <th>Length</th>
        <th>Description</th>
        <th>Price</th>
        <th>  </th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.country}}</td>
        <td>{{movie.length}}</td>
        <td>{{movie.description}}</td>
        <td>{{movie.price}}</td>
        <td></td>

        <td><button (click)="deleteMovie(movie.id)">Delete</button>
        <td><button [routerLink]="'/update/movie/' + movie.id">Update</button> </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content,2)">Launch demo modal</button> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label >Confirmation dialog</label>
        <div class="input-group">
          Are you sure to delete this element?
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
  </div>
</ng-template>
