<div *ngIf="movie">
  <div>
    <label>Title: </label> {{movie.title}}
  </div>
  <div>
    <label>Country: </label> {{movie.country}}
  </div>
  <div>
    <label>Length: </label> {{movie.length}}
  </div>
  <div>
    <label>Description: </label> {{movie.description}}
  </div>
  <div>
    <label>Price: </label> {{movie.price}}
  </div>

  <span class="button is-small btn-primary" (click)='updateMovie()'>Update</span>

  <span class="button is-small btn-danger" (click)='deleteMovie()'>Delete</span>

  <hr/>
</div>
