<body>
<div class="jumbotron" id="head">
  <div class="container text-center">
    <h1>Welcome to the Movie World</h1>
    <p>There are so many interesting films that you need to watch!</p>
  </div>
  <div *ngIf="info.token; else loggedOut">
  <p>
    <strong>Hello,</strong> {{info.username}}<br/>
    <strong>Your role is:</strong> {{info.authorities}}<br />
  </p>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Movies that will appear on the world screens from the next week</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <h4>Runners on the Blade</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Suicide Squad</h4>
      <img src="https://shyfyy.files.wordpress.com/2017/02/ghostintheshell-5.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Tintin's adventure</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Lion King</h4>
      <img src="https://shyfyy.files.wordpress.com/2017/02/ghostintheshell-5.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <h4>Hello, Julie</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Titanic</h4>
      <img src="https://shyfyy.files.wordpress.com/2017/02/ghostintheshell-5.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Ghost in the Shell</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Fantasy</h4>
      <img src="https://shyfyy.files.wordpress.com/2017/02/ghostintheshell-5.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>
</body>

